<h2>Add Event</h2>
<form action="{{ url_for('add_event') }}" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Event Name" required><br>
    <input type="date" name="date" required><br>
    <input type="text" name="location" placeholder="Location" required><br>
    <input type="number" name="guests" placeholder="Guests" required><br>
    <textarea name="description" placeholder="Description"></textarea><br>
    <input type="file" name="video" accept="video/*"><br><br>
    <button type="submit">Add Event</button>
</form>
